/* Settings: all tabs */
.settings-container {
    padding-top: 1em;
}

.settings-form > * {
    margin-top: 1em;
}

.settings-form > *:not(.alerts) {
    display: flex;
    align-items: flex-start;
}

.settings-form > *:not(.alerts) > :first-child {
    width: 33.33%;
    flex-shrink: 0;
    margin-right: 1em;
}

@media (max-width: 768px) {
    .settings-form > *:not(.alerts) > :first-child {
        width: 40%;
    }

    .settings-form > .wrap-on-mobile {
        flex-wrap: wrap;
    }

    .settings-form > .wrap-on-mobile > :first-child {
        width: 100%;
        margin-bottom: 1em;
        font-weight: bold;
    }
}

.settings-form p.button-desc {
    margin-bottom: 0.8em;
}

.settings-form .buttons-toolbar {
    justify-content: flex-end;
    flex-wrap: wrap;
}

.settings-form .buttons-toolbar > * {
    margin-left: 1em;
}

.settings-form .buttons-toolbar > :first-child {
    width: auto;
    margin-right: 0;
    margin-left: 0;
}

.settings-form button + .fa {
    margin-left: 1ex;
}

.settings-logs > .buttons-toolbar {
    display: flex;
    flex-wrap: wrap;
}

.settings-logs > .buttons-toolbar > button {
    margin-right: 1ex;
}

.settings-logs > .buttons-toolbar > button:last-child {
    margin-left: auto;
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .settings-logs > .buttons-toolbar > button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.5em;
    }

    .settings-logs > .buttons-toolbar > button.danger {
        order: 3;
    }
}

.settings-logs pre {
    overflow: auto;
}

.backup-password-form input + span {
    margin: 0 1ex;
}
