.clickable {
    cursor: pointer;
}

.not-clickable {
    cursor: not-allowed;
}

.right-align {
    display: flex;
    justify-content: flex-end;
}

.badge {
    display: inline-block;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 1em;
    line-height: 1.4em;
}

/* Force the font size of primer-tooltips */
.tooltipped::after {
    font-size: 1rem;
}

/* Show borders on forms elements with "light" class only on hover/active */
input.light:not(:hover):not(:focus):not(:active),
.Select.light:not(:hover) .Select__control:not(.Select__control--is-focused) {
    color: inherit;
    border-color: transparent;
    background-image: none;
    background-color: transparent;
}

.Select.light:not(:hover) .Select__control:not(.Select__control--is-focused) .Select__indicators {
    visibility: hidden;
}

.form-element-block {
    display: block;
    width: 100%;
}
